
@charset "UTF-8";
*{
		margin:0px;
		padding:0px;
        box-sizing:border-box;
       
	}
.wrap{
    width:100%;
    margin:0 auto;
}
#container #content .con_tit {
    width: 100%;
    height: 56px;
    padding: 0px;
	margin:0px 0px 7px 0px;
	margin-top:15px;
    background: url(/res/img/admin/con_tit_bg.gif) repeat-x left top;
    
}

#container #content .con_tit .tit_sub {
font-family:noto sans;
font-size:14px;
color:#999;
line-height:20px;
letter-spacing: -.3px;
text-align: center;
}

#canvas {
    position: relative;
    width: 100%;
    height: 80%;
    z-index: 100;
    color: #2d2f34;
    max-width: 1100px;
}
#container #content .con {
    overflow:hidden;
    width:1050px;
    margin:0 auto;
    position: relative;
    width: 100%;
    max-width: 820px;

}
body,input,select,textarea,button{
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
p {
    display: block;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}
#bbs {
    border-bottom:1px solid;
}
#bbs #blist table {
    position: relative;
    width: 100%;
    border-top: #4a4b4f 2px solid;
    color: #53728b;
    font-size: 11px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
	border-color:grey;
    margin-inline-start:auto;
    margin-inline-end:auto;
    width:100%;
}
tbody{
    display:table-row-group;
    vertical-align: middle;
    border-color:inherit;
}
tr{
    display:table-row;
    vertical-align:inherit;
    border-color:inherit;
}
td,th{
    padding:0;
}




input[type="checkbox"] {
    width: 14px;
    height: 25px;
    vertical-align: middle;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input:not([type="image" i]) {
    box-sizing: border-box;
}
input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}
input[type="checkbox"] {
    width: 14px;
    height: 25px;
    vertical-align: middle;
}
input[type="text"] {
    font-size: 12px;
    color: #2e2e2e;
    height: 25px;
    border: 1px solid #cccccc;
    padding: 2px 0 0 3px;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
}
input:not([type="image" i]) {
    box-sizing: border-box;
}

td{
    display: table-cell;
    vertical-align: inherit;
}
#bbs #blist table tbody td.title {
    text-align: left;
    padding-left: 10px;
}
#bbs .btn {
    position: relative;
    color: #797979 !important;
    overflow: hidden;
}
div {
    display: block;
}
#bbs .btn .btnLeft {
    position: relative;
    color: #797979 !important;
    float: left;
    padding: 10px 0 0 0;
    overflow: hidden;
    font-size: 11px;
    text-align: left;
    /* width: 40%; */
    height: 30px;
}
#bbs .btn .btnLeft a.btns strong {
    display: block;
    padding: 1px 8px 0 12px;
    background: url(/img/admin/btn_bg.gif) no-repeat;
    color: #797979 !important;
}
a.btns strong {
    display: block;
    padding: 1px 8px 0 12px;
    background: url(/img/admin/btn_bg.gif) no-repeat;
    color: #797979 !important;
}
strong {
    font-weight: bold;
}
#bbs .btn .btnLeft a.btns {
    display: inline-block;
    padding-right: 4px;
    background: url(/img/admin/btn_bg.gif) no-repeat 100% 0;
    font-size: 11px;
    color: #797979;
    line-height: 26px;
    word-spacing: -1px;
    text-decoration: none !important;
    white-space: nowrap;
    color: #797979 !important;
}
a:link {
    color: #6a6d6f;
    text-decoration: none;
}
a.btns {
    display: inline-block;
    padding-right: 4px;
    background: url(/img/admin/btn_bg.gif) no-repeat 100% 0;
    font-size: 11px;
    color: #797979;
    line-height: 26px;
    word-spacing: -1px;
    text-decoration: none !important;
    white-space: nowrap;
    color: #797979 !important;
}
a:-webkit-any-link {
    cursor: pointer;
}
#bbs .btn .btnRight {
    position: relative;
    color: #797979 !important;
    float: right;
    padding: 10px 0 0 0;
    overflow: hidden;
    font-size: 11px;
    text-align: right;
    /* width: 40%; */
    height: 30px;
}
#bbs .btn .btnRight a.wbtn {
    display: inline-block;
    padding-right: 4px;
    background: url(/img/admin/btn_bg.gif) no-repeat 100% 0;
    font-size: 11px;
    color: #797979;
    line-height: 26px;
    word-spacing: -1px;
    text-decoration: none !important;
    white-space: nowrap;
    color: #797979 !important
}
#bbs .btn .btnRight a.wbtn strong {
    display: block;
    padding: 0px 10px 10px 13px;
    background: url(/img/admin/btn_bg.gif) no-repeat;
    color: #797979 !important;
    
}
#bbs .page {
    position: relative;
    width: 100%;
    display: block;
    margin: 0 0 0 0px;
    padding: 20px 0 0 0;
    text-align: center;
    clear: both;
    color: #656668;
    font-size: 12px;
}
#bbs .page strong {
    position: relative;
    display: inline-block;
    padding: 5px 6px;
    text-decoration: underline;
    color: #f60029;
}
#bbs .page a {
    position: relative;
    display: inline-block;
    padding: 5px 6px;
    text-decoration: none;
    color: #656668;
}
#blist .search {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 9px 0;
    text-align: center;
    vertical-align: middle;
}
#blist .search select {
    width: 115px;
    height: 20px;
    border: 1px solid #cccccc;
    font-size: 12px;
    vertical-align: middle;
    color: #706a5f;
    margin: 0 5px 0 0;
    display: inline;
}
select {
    font-size: 12px;
    color: #2e2e2e;
    height: 18px;
    border: 1px solid #cccccc;
}
#blist .search input {
    width: 160px;
    height: 20px;
    border: 1px solid #cccccc;
    vertical-align: middle;
    display: inline;
}
#blist .search .sbtn {
    position: relative;
    width: 64px;
    height: 23px;
    top: 0px;
    left: 0px;
    border: none;
    vertical-align: bottom;
}
.page >li{
list-style:none;
text-align:center;
position: relative;
display: inline-block;
padding: 5px 6px;
text-decoration: none;
color: #656668;
}







.menulist{
    float:left;
    width:200px;
}
.menulist .menu_title{
    padding: 20px 0px 10px 1px;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #333;
    letter-spacing: -1px;
}
.menulist .menu_title .inner_sub{
    border: 1px solid #000000;
    border-bottom: 0;
}
h2.menu_title{
    margin:0px 0px 0px 10px;
}
ul,ol{
    list-style-type: none;
    display:block;
}
.menulist .menu_title .inner_sub .adlist {
    border-bottom: 1px solid #000000;
    border:1px solid #eef0f7;
}
.menulist .menu_title .inner_sub >li.on a{
background-color: #fafafa;
display:block;
overflow:hidden;
line-height:20px;


}
.menulist .menu_title .inner_sub >li a:hover{
    background-color: #fafafa;
    
}
.content{
    width:820px;
    display:block;
}
#adlist{
    box-sizing: border-box;
    border:1px solid #f2f2f2;
    display:list-item;
    background: #fafafa;
}
#adlist > li {
    border-bottom:1px solid #f2f2f2;
    padding: 14px 0 16px 20px;
    
    
}
#adlist > li > a{ 
    display:block;
    font-weight: 700;
    color:#f79dff;
    background: #fafafa url(img/btn_next.svg) no-repeat 130px;
}

.inner_sub{
    padding: 10px 10px 10px 10px;
}
#container{
    width:1200px;
    display:flex;
}





td #result {
    padding: 13px 0px 13px 20px;
    margin: 10px 10px 10px 10px;
    width: 30px;
    font-weight:15px;
}

#ad_content{
    height: 300px;
}



h2.con_title{

    font-weight:700;
    font-size:28px;
    color:#333;
    line-height:35px;
    text-align: center;
    letter-spacing: -1px;
}
.boardView{
    table-layout: fixed;
    border-top: 2px solid #333;
    border-bottom: 1px solid #f4f4f4;
    color: #333;
    line-height: 180%;
    margin-top: 20px;
}
.boardView th{
width:130px;
padding: 13px 0 13px 20px;
background-color: #f7f5f8;
border-top: 1px solid #f4f4f4;
text-align: left;
}
.boardView td{
width: auto;
border-top: 1px solid #f4f4f4;
}
.boardView tr .etcArea td{
    padding:0;
    border:0;
}
.boardView tr .etcArea ul{
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #f4f4f4;
}
.boardView tr .etcArea ul li{
    float:left;
}
.boardView tr.etcArea ul .th {
    float: left;
    padding: 13px 0 13px 20px;
    width: 130px;
    background-color: #f7f5f8;
    height:60px;
}
.boardView tr.etcArea ul .td{
    float: left;
    padding: 5px 0 5px 10px;
    width: 180px;
    
}

