	.container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .container > .lcontainer {
            flex-basis: 1400px;
            margin: auto;
        }
        .container > .lcontainer > .inner_wrap {
            width: 1400px;
            margin-top:100px;
        }
        .container > .lcontainer > .inner_wrap > .search_list_restarants {
            float:left;
            margin: 5px 50px;
        }
        .container > .lcontainer > .inner_wrap > .search_list_restarants > .restarant img {
        	height: 240px; 
        	width: 360px; 
        	object-fit: cover;
        }
        ul, li {
            list-style: none;
        }
        a {
            text-decoration: none;
        }
        h3 {
            display: inline-block;
            overflow: hidden;
            color: black;
            margin-right: 5px ;
        }
        strong {
            color: blueviolet;
        }