	.container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .container > .lcontainer {
            flex-basis: 1400px;
            /* background-color: burlywood; */
            margin: auto;
        }
        .container > .lcontainer > .inner_wrap {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            /* background-color:chartreuse; */
            width: 1000px;
            margin: auto;
        }
        .container > .lcontainer > .inner_wrap > .search_title {
            font-size: 24px;
            color: blueviolet;
            font-weight: bold;
            margin: 20px 115px;
        }
        .container > .lcontainer > .inner_wrap > .search_list_restarants {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            /* background-color: cyan; */
            margin: auto;
        }
        .container > .lcontainer > .inner_wrap > .search_list_restarants > .restarant {
            margin-right: 50px;
            /* background-color:grey; */
        }
        .container > .lcontainer > .inner_wrap > .search_list_restarants > .restarant img {
        	height: 240px; 
        	width: 360px; 
        	object-fit: cover;
        }
        .container > .rcontainer {
            flex-basis: 800px;
            /* background-color: cadetblue; */
        }
        
        ul, li {
            list-style: none;
        }
        a {
            text-decoration: none;
        }
        h3 {
            display: inline-block;
            overflow: hidden;
            color: black;
            margin-right: 5px ;
        }
        strong {
            color: blueviolet;
        }