* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.wrap {
    width:100%;
    margin : 0 auto;
}
/* �뿤�뜑�떆�옉  */
.header{ 
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 50px;
    position: fixed;
    border-bottom: 1px solid #DBDBDB;
    box-sizing: border-box;
    box-shadow: 0 4px 11px rgb(0 0 0 / 10%);
    background-color: #FFFFFF;
}
.mainlogo{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    margin: 0 25px;
}
.mainlogoicon {
    width: 100px;
    height: 33px;  
}
.headerfilter {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    height: 25px;
    width: 25px;
    margin-right: -23px;
}
.headersearch {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;;
    align-items: center;
    -webkit-box-align: center;
    flex: 1;
    -webkit-flex: 1;
    min-width: 0;
    padding-left: 32px;
}
.headersearchinput {
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    height: 27px;
    border: 0;
    font-size: 17px
}
input:focus {outline:none;}
.header_searchbutton{
    display: none;
    margin: 0 20px;
    font-size: 16px;
    line-height: 1.2;
    color: #DBDBDB;
}
.headermenulist {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    height: 100%;
    margin-left: auto;
}
.menulistheader{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    width: 130px;
    border-left: 1px solid #dbdbdb;
    box-sizing: border-box;
}
.menulink {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    height: 100%;
}
.menutext {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    position: relative;
    font-size: 16px;
    color: #888888;
}
@media only screen and (min-width: 320px) and (max-width: 768px){
    .headermenulist{
        display: none;
    }
}
a:link{
    text-decoration: none;
}
@media only screen and (min-width: 320px) and (max-width: 768px){
    .headericonbuttonlist {
        margin-left: auto;
    }
}
.headericonbuttonlist{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    height: 100%;
    
}
@media only screen and (min-width: 320px) and (max-width: 768px){
    .hedericonbuttonitem{
        width: initial;
        border-left: 0;
    }
}
@media only screen and (min-width: 769px){
    .only-mobile {
        display: none !important;
    }
}
.hedericonbuttonitem{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    width: 85px;
    height: 100%;
    border-left: 1px solid #dbdbdb;
    cursor: pointer;
}
.menuboutton {
    position: relative;
    width: 35px;
    height: 35px;
    display: block;
}

button {
    appearance: none;
    cursor: pointer;
    border: 0px;
    border-radius: 0;
    background-color: transparent;
}
a:link {
        text-decoration: none;
}

.footer {
    width:100%;
    height:100%;
    position: relative;
    margin:0 auto;
    background-color: #221f1f;
    color:#999;
    clear:both;
    padding:20px 5px;
    margin: 0 auto;
}
.footertitle {
    font-size: 25px;
    font-family: 'KOTRA_BOLD-Bold';
    max-width: 1200px
}
.footer > .foter_size > .info > p {
    line-height: 25px;  
}
.sns_area {
    position:absolute;
    top: 25px;
    right: 20px;
}
.sns_area > a {
    margin:5px;
    max-width: 1200px
}
.quickMenu {
    position: absolute;
    z-index:9900; 
    top: 100px;
}
/* �뫖�꽣 �걹 */